*,
*::before,
*::after {
  font-family: 'Noto Sans', sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  background: #95989a;
}
html {
  font-size: 62.5%;
}
body {
  scrollbar-color: #ccc;
  scrollbar-width: 0.5rem;
  width: 100%;
}
.css-0 {
  font-size: 1.4rem;
}
.chakra-form__required-indicator {
  visibility: hidden;
}
@mixin markerStyles {
  color: white;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  font-size: 1rem;
  line-height: 1.6rem;
  text-align: center;
}
.chakra-form__error-message,
.custom-error-message {
  position: relative;
  margin-left: 2.6rem;
  font-size: 1.3rem !important;
  line-height: 1.6rem;
  &::before {
    content: '!';
    background-color: #e94560;
    left: -2.6rem;
    position: absolute;
    top: 0;
    bottom: 0;
    @include markerStyles();
  }
}

.chakra-menu__menuitem {
  &.selected {
    background-color: #e2e8f0;
    font-weight: bold;
  }
}
.rco-marker {
  display: flex;
  align-items: center;
  justify-content: center;
  @include markerStyles();
}

